@font-face {
  font-family: 'SeoulHangangM';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KBIZHanmaumMyungjo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KBIZHanmaumMyungjo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jeonju_gakR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Jeonju_gakR.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gyeonggi_Title_Medium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Medium.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
}

.gamediv {
  width: 30%;
  font-size: 22px;
}

.daydiv {
  width: 90%;
  align-content: center;
  height: 20vh;
  background-image: url('/public/UI/choicepanel.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 25%;
  margin-left: 15%;
  color: bisque;
}

.daytxt {
  font-size: 40px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5%;
}

.infodiv {
  width: 90%;
  height: 20vh;
  background-image: url('/public/UI/choicepanel.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 15%;
  color: bisque;
  align-content: center;
}

.infotxt {
  font-size: 25px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5%;
}

.img {
  width: 40%;
  margin-top: 1%;
  margin-right: 26%;

  height: 73%;
  object-fit: cover;
}

.imgdiv {
  background-image: url('/public/UI/imgBack.png');
  background-size: contain;
  background-repeat: no-repeat;
  align-content: center;
  margin-left: 5%;
  width: 55%;
  height: 48vh;
  color: white;
}

.muteIconContainer {
  position: absolute;
  top: 5%;
  /* 상단 여백 */
  right: 2%;
  /* 우측 여백 */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 음소거 아이콘 스타일 */
.muteicon {
  font-size: 35px;
  /* 아이콘 크기 */
  color: white;
  /* 기본 색상 */
  transition: transform 0.3s ease, color 0.3s ease;
  /* 애니메이션 효과 */
}

.muteicon:hover {
  transform: scale(1.2);
  /* 마우스 오버 시 확대 */
  color: lightgray;
  /* 마우스 오버 시 색상 변경 */
}

.innertext {
  padding-block-start: 1%;
  padding-inline: 5% 5%;

  width: 60%;
  height: 70%;
  margin: 0 auto;
  overflow: auto;
  /* 콘텐츠가 넘치면 스크롤바가 나타남 */
}

.innertext::-webkit-scrollbar {
  width: 5px; /* 스크롤바 두께 */
}

.innertext::-webkit-scrollbar-thumb {
  background: bisque; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 모서리 둥글게 */
}

.innertext::-webkit-scrollbar-thumb:hover {
  background: rgba(211, 156, 16, 0.8); /* 마우스를 올렸을 때 색상 */
}

.innertext::-webkit-scrollbar-track {
  background: rgba(200, 200, 255, 0.2); /* 스크롤 트랙 색상 */
}

.textdiv {
  width: 100%;
  height: 34vh;
  padding-top: 7%;
  box-sizing: border-box;
  /* padding을 height에 포함시킴 */
  margin: 0 auto;
  border-radius: 8px;
  font-size: 1.5rem;
  color: bisque;
  background-image: url('/public/UI/backpanel.png');
  /* public 경로일 경우 */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* 이미지 반복 방지 */
  margin-top: -7%;
}

.choiceContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 60vh;
  /* 양쪽 padding 추가 */
  border-radius: 8px;
}

.choicetxt {
  margin-right: 25%;
}

.choice {
  width: 70%;
  height: 15vh;
  background-image: url('/public/UI/choice.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  /* Flexbox 사용 */
  align-items: center;
  /* 수직 중앙 정렬 */
  padding-left: 15%;
  margin-top: 10%;
  /* 텍스트와 버튼 간 거리 확보 */
  border-radius: 5px;
  margin: 0 auto;
  color: saddlebrown;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  margin-left: -5%;
  margin-top: -5%;
}

.choice input[type='radio'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
  margin-right: 10px;
  /* 버튼과 텍스트 사이 간격 */
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.choice input[type='radio']:checked {
  background-color: #61380b;
  border-color: #61380b;
}

.choice input[type='radio']::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}

.choice input[type='radio']:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

/* Label styling */
.choice label {
  flex: 1;
  display: flex;
  /* Flexbox 사용 */
  align-items: center;
  /* 수직 중앙 정렬 */
  cursor: pointer;
  font-size: 1rem;
  /* 텍스트 크기 조정 */
}

.userdiv {
  margin: 0 auto;
  display: flex;
  width: 70%;
  height: 30vh;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #fff;
  margin-top: -8%;
  margin-left: 15%;
  align-items: center;
  background-image: url('/public/UI/backpanel.png');
  /* public 경로일 경우 */
  background-size: contain;
  background-repeat: no-repeat;
  /* 이미지 반복 방지 */
}

.statusDiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 5px;
  margin-bottom: 3%;
}

.statusItem {
  display: flex;
  align-items: center;
}

.statusImage {
  width: 40px;
  height: 40px;
  margin-left: 8px;
  transition: transform 0.3s ease, translateY 0.3s ease;
  cursor: pointer;
}

.statusImage:hover {
  transform: scale(1.2);
}

.barContainer {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 3%;
  flex-grow: 1;
}

.bar {
  height: 100%;
  border-radius: 10px;
}

.div {
  position: relative;
  font-family: 'Gyeonggi_Title_Medium', sans-serif;
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.45);
  /* 어두운 배경색 (검정색, 50% 투명도) */
  z-index: 1;
  /* 배경 위에 보이도록 설정 */
  align-items: center;
  text-align: center;
}

.nextdiv {
  background-image: url('/public/UI/next.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 14vh;
  margin-left: 10%;
  cursor: pointer;
  transition: transform 0.2s ease, translateY 0.2s ease;
  align-content: center;
}

.nextdiv:hover {
  transform: scale(1.1);
}

.nexttxt {
  width: 50%;
  font-size: 24px;
  margin-left: 20%;
  color: saddlebrown;
  margin-bottom: 4%;
}
