:root {
  --modal-width: 400px;
  /* 모달의 너비를 변수로 정의 */
}

.stylishButton {
  background-color: #007bff;
  /* 버튼의 기본 배경색 */
  color: white;
  /* 버튼 텍스트 색상 */
  border: none;
  /* 기본 테두리 제거 */
  border-radius: 25px;
  /* 둥근 모서리 */
  padding: 12px 24px;
  /* 버튼 패딩 */
  font-size: 16px;
  /* 폰트 크기 */
  font-weight: bold;
  /* 텍스트 굵기 */
  cursor: pointer;
  /* 커서 모양 변경 */
  transition: background-color 0.3s ease, transform 0.2s ease;
  /* 트랜지션 효과 */
}

.stylishButton:hover {
  background-color: #0056b3;
  /* 마우스를 올렸을 때 배경색 */
  transform: scale(1.05);
  /* 살짝 확대되는 효과 */
}

.stylishButton:active {
  transform: scale(0.95);
  /* 클릭할 때 살짝 줄어드는 효과 */
}

.modal {
  position: fixed;
  top: 50%;
  right: -100%;
  /* 처음에 화면 밖에 있도록 설정 */
  transform: translateY(-50%);
  width: var(--modal-width);

  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  opacity: 0;
  /* 초기 상태에서 보이지 않도록 설정 */
  transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
  z-index: 100;
  /* 모달이 항상 위에 있도록 설정 */
}

.modal.show {
  right: calc(50% + var(--modal-width) / 4);
  /* 화면 중앙으로 이동 */
  transform: translate(50%, -50%);
  opacity: 1;
  /* 보이도록 설정 */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 90;
  /* 오버레이는 모달보다 뒤에 있도록 설정 */
}


/* 오버레이가 활성화되었을 때 */
.overlay.show {
  opacity: 1;
  /* 오버레이를 보이도록 설정 */
}


.logo {
  width: 70%;
  height: 20%;
  margin: 0 auto;
  height: 40vh;
}