/* overlay 기본 스타일 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 9999;
  animation: fadeIn 1s ease forwards;
}

/* fade-out 효과 */
.overlay_fade_out {
  animation: fadeOut 1s ease forwards;
}

/* 페이드 인 애니메이션 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/* 페이드 아웃 애니메이션 */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 중앙 텍스트 스타일 */
.text_container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text_container .random_text {
  font-size: 1.2rem;
  font-style: italic;
  color: #ddd;
  margin-bottom: 1.5rem;
}

/* 이미지 컨테이너 스타일 */
.image_container {
  display: flex;
  gap: 1rem;
}

/* 동물 이미지 스타일 */
.animal_image {
  width: 50px;
  transition: transform 1s ease-in-out;
}

/* 각 이미지가 순서대로 위아래로 파도타기하는 애니메이션 */
@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* 각 이미지에 다르게 애니메이션 적용 */
.wave_0 {
  animation: wave 1s ease-in-out infinite;
}

.wave_1 {
  animation: wave 1s ease-in-out infinite 0.2s;
}

.wave_2 {
  animation: wave 1s ease-in-out infinite 0.4s;
}

.wave_3 {
  animation: wave 1s ease-in-out infinite 0.6s;
}

.wave_4 {
  animation: wave 1s ease-in-out infinite 0.8s;
}