/* overlay 기본 스타일 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 9999;
}

/* fade-out 효과 */
.overlay_fade_out {
  animation: fadeOut 1s ease forwards;
}

/* 페이드 인 애니메이션 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* 페이드 아웃 애니메이션 */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 텍스트 컨테이너 */
.text_container {
  text-align: center;
  margin-bottom: 2rem;
}

/* 텍스트 페이드 인 애니메이션 */
.fade_in {
  animation: fadeInText 0.5s ease forwards;
}

/* 텍스트 페이드 아웃 애니메이션 */
.fade_out {
  animation: fadeOutText 0.5s ease forwards;
}

/* 텍스트 페이드 인 키프레임 */
@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 텍스트 페이드 아웃 키프레임 */
@keyframes fadeOutText {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* 중앙 텍스트 스타일 */
.text_container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.text_container .random_text {
  font-size: 1.2rem;
  font-style: italic;
  color: #ddd;
  margin-bottom: 1.5rem;
}

.img {
  width: 40px;
  height: 40px;
}

.damageEffect {
  background-color: rgba(255, 0, 0, 0.5);
  /* 반투명 빨간색 배경 */
  padding: 20px;
  border-radius: 10px;
  position: relative;
  animation: damageFlash 0.5s ease-in-out infinite alternate;
}

@keyframes damageFlash {
  0% {
    background-color: rgba(255, 0, 0, 0.8);
    transform: scale(1.05);
  }

  100% {
    background-color: rgba(255, 0, 0, 0.5);
    transform: scale(1);
  }
}

.damageImage {
  width: 100px;
  height: auto;
  position: absolute;
  top: -20px;
  right: -20px;
  animation: shake 0.5s ease-in-out infinite alternate;
}

@keyframes shake {
  0% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

.prob {
  color: yellow;
  font-size: 1.5em;
  font-weight: bold;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}