
/* Container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  cursor: pointer; /* Indicate clickable area */
}

/* Image wrapper */
.imageWrapper {
  width: 80%; /* Adjust image width as needed */
  max-width: 600px;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image styles */
.image {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  position: absolute;
  transition: opacity 0.3s ease-in-out; /* Smooth fade transition */
}

/* Fade-in effect */
.fadeIn {
  opacity: 1;
}

/* Fade-out effect */
.fadeOut {
  opacity: 0;

}
