@font-face {
  font-family: 'SeoulHangangM';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KBIZHanmaumMyungjo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KBIZHanmaumMyungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jeonju_gakR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Jeonju_gakR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gyeonggi_Title_Medium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


body {
  background-image: url('/public/jungle.jpg');
  /* public 폴더에서 이미지 참조 */
  background-size: cover;
  /* 배경 이미지를 완전히 채우도록 설정 */
  background-position: center;
  /* 중앙 정렬 */
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.shadow {
  background-color: rgba(0, 0, 0, 0.2);
  /* 어두운 배경색 (검정색, 50% 투명도) */
  z-index: 1;
  /* 다른 요소 위에 보이도록 설정 */
  align-content: center;
}

/* 콘텐츠 스타일 */
.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  /* 헤더 높이만큼 제외 */
  background-color: transparent;
  /* 콘텐츠 배경을 투명하게 설정 */
}

.div {
  position: relative;
  font-family: 'KBIZHanmaumMyungjo';
  min-height: 100vh;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  /* 어두운 배경색 (검정색, 50% 투명도) */
  z-index: 1;
  /* 배경 위에 보이도록 설정 */
  align-items: center;
  text-align: center;
}